@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  /*
  @asset(/libraries/nimiq-style/material-icons/MaterialIcons-Regular.eot)
  @asset(/libraries/nimiq-style/material-icons/MaterialIcons-Regular.woff2)
  @asset(/libraries/nimiq-style/material-icons/MaterialIcons-Regular.woff)
  @asset(/libraries/nimiq-style/material-icons/MaterialIcons-Regular.ttf)
   */
  src: url(./MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(./MaterialIcons-Regular.woff2) format('woff2'),
       url(./MaterialIcons-Regular.woff) format('woff'),
       url(./MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  vertical-align: middle;
  margin-top: -0.1em;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.material-icons { color: rgba(255, 255, 255, 1); }
[disabled] .material-icons { color: rgba(255, 255, 255, 0.3); }

.nimiq-dark .material-icons { color: #3b3b3b; }
.nimiq-dark [disabled] .material-icons { color: rgba(0, 0, 0, 0.26); }
