html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

@import '../fast-font/fast-font.css';
body {
    font-size: 15px;
}

h1,
.h1 {
    font-size: 28px;
    /* line-height: 48px; */
    font-weight: 300;
    max-width: 100%;
    box-sizing: border-box;
    text-align: center;
    padding: 0;
}

h1+h2 {
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    padding: 4px 0 24px;
}

h2,
.h2 {
    font-size: 24px;
    font-weight: 300;
}

h1,
h2,
p {
    margin: 0;
}


p {
    text-align: center;
    line-height: 19px;
}

a {
    text-decoration: none;
    color: white;
}

p a {
    text-decoration: underline;
}


a[secondary] {
    font-size: 15px;
    font-weight: 800;
}

a[secondary]+[button] {
    margin-top: 40px;
}

li {
    line-height: 24px;
    text-align: left;
}

@media (max-width: 320px) {
    h1 {
        font-size: 24px;
    }

    h2 {}

    h1+h2 {
        font-size: 13px;
        padding-bottom: 8px;
    }
}
