/* buttons */

button,
[button] {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.12em;
    height: 56px;
    width: 100%;
    max-width: 368px;
    border-radius: 28px;
    padding: 0 24px;
    vertical-align: middle;
    display: table-cell;
    text-align: center;
    background: white;
    color: var(--primary-color);
    cursor: pointer;
    user-select: none;
    box-shadow: rgba(0, 0, 0, 0.5) 1px 2px 3px;
    outline: none;
    border: none;
    line-height: 53px;
    border: 1px solid white;
    margin-bottom: 4px;
    min-height: 56px;
}

button[disabled],
[button][disabled] {
    background: transparent;
    box-shadow: none;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.31);
    pointer-events: none;
}

button.small,
[button].small {
    font-size: 13px;
    width: auto;
    padding: 0 15px;
    height: 40px;
    line-height: 38px;
    min-height: 40px;
}

button.small.fixed-size,
[button].small.fixed-size {
    width: 100%;
}

button.secondary,
[button].secondary {
    background: transparent;
    color: white;
}

.nimiq-dark button,
.nimiq-dark [button] {
    background: var(--primary-background-toright);
    border: 1px solid transparent;
    color: white;
}

.nimiq-dark button.secondary,
.nimiq-dark [button].secondary {
    background: transparent;
    color: #3b3b3b;
    border: 1px solid #3b3b3b;
}

.nimiq-dark button[disabled],
.nimiq-dark [button][disabled] {
    background: transparent;
    color: rgba(0, 0, 0, 0.48);
    border: 1px solid rgba(0, 0, 0, 0.15);
}

/* Text Inputs */

input[type="text"],
input.password,
input[type="number"] {
    border: none;
    outline: none;
    background: transparent;
    color: white;
    width: 168px;
    text-align: center;
    border-bottom: 1px solid transparent;
    border-radius: 0;
    font-size: 15px;
    font-family: inherit;
    font-style: inherit;
    font-variant: inherit;
    padding: 1px;
}

input[type="text"]::placeholder,
input.password::placeholder,
input[type="number"]::placeholder,
input[type="number"]::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.3);
    text-align: center;
    display: block;
}

input[type="text"]:focus,
input.password:focus {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

input[type="text"].small {
    font-size: 15px;
}

input[type="text"].small:placeholder-shown {
    font-size: 56px;
}

input[type="number"] {
    font-size: 56px;
    padding-bottom: 0;
}

input[type="number"]::-webkit-input-placeholder {
    font-size: 56px;
    color: rgba(255, 255, 255, 0.3);
}

input[type="number"]::placeholder {
    font-size: 56px;
    color: rgba(255, 255, 255, 0.3);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input.password
{
    font-size: 18px;
    line-height: 32px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    width: 100%;
    max-width: 368px;
    margin: 16px 0;
}


/* Range Slider */

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    max-width: 320px;
    height: 56px;
    padding: 0;
    background: none;
    overflow: hidden;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    animate: 0.2s;
    background: white;
    border: none;
}

input[type=range]::-moz-range-thumb {
    box-shadow: rgba(0, 0, 0, 0.5) 0 2px 4px;
    border: none;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -11px;
}


input[type=range]::-webkit-slider-thumb {
    box-shadow: rgba(0, 0, 0, 0.5) 0 2px 4px;
    border: none;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -11px;
}

input[type=range]::-ms-thumb {
    box-shadow: rgba(0, 0, 0, 0.5) 0 2px 4px;
    border: none;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
    margin-top: -11px;
}

input[type=range]::-moz-range-progress {
    background: white;
}

input[type=range]:focus {
    outline: none;
    /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

select {
    height: 35px;
}

/* Popup menu styles */
div.popupmenu {
    position: relative;
}

div.popupmenu button {
    /* border: 0; */
    background: transparent;
    color: #3b3b3b;
    border: 1px solid transparent !important;
    font-size: 13px;
    width: 40px;
    padding: 0;
    height: 40px;
    line-height: 38px;
    min-height: 40px;
    box-shadow: none;
}

div.popupmenu button:hover {
    background: rgba(0, 0, 0, 0.1);
}

div.popupmenu > div {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    background: white;
    z-index: 1;
    border: 1px solid lightgray;
    border-radius: 3px;
    box-shadow: 0 0 10px 0 lightgray;
}

div.popupmenu > button:focus + div,
div.popupmenu > div:hover {
    display: initial;
    /* We need to animate from below here, so that the popupmenu
       is on top of the button when the user clicks/touches. On
       touch devices this would result in an instant click on the
       top popupmenu item. */
    animation: popupmenu-from-below;
    animation-duration: 0.3s;
}

div.popupmenu > button[disabled] + div {
    display: none !important;
}

div.popupmenu > div > button {
    display: block;
    width: 100%;
    text-align: left;
    margin: 0;
    border-radius: 0;
    padding: 4px 15px;
    height: 48px;
}

div.popupmenu > div > button .material-icons {
    margin-right: 9px;
}

@keyframes popupmenu-from-below {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    25%{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
