/* buttons */

button,
[button] {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.12em;
    height: 56px;
    width: 100%;
    max-width: 368px;
    border-radius: 28px;
    padding: 0 24px;
    vertical-align: middle;
    display: table-cell;
    text-align: center;
    background: white;
    color: var(--primary-color);
    cursor: pointer;
    user-select: none;
    box-shadow: rgba(0, 0, 0, 0.5) 1px 2px 3px;
    box-sizing: border-box;
    outline: none;
    border: none;
    line-height: 53px;
    border: 1px solid white;
}

button[disabled],
[button][disabled] {
    background: transparent;
    box-shadow: none;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.31);
    pointer-events: none;
}

button.small,
[button].small {
    font-size: 13px;
    width: auto;
    padding: 0 15px;
    height: 40px;
    line-height: 38px;
}


/* Text Inputs */

input[type="text"],
input[type="password"],
input[type="number"] {
    border: none;
    outline: none;
    background: transparent;
    color: white;
    width: 168px;
    text-align: center;
    border-bottom: 1px solid transparent;
    border-radius: 0;
    font-size: 15px;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder,
input[type="number"]::placeholder,
input[type="number"]::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.3);
    text-align: center;
    display: block;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

input[type="text"].small {
    font-size: 15px;
}

input[type="text"].small:placeholder-shown {
    font-size: 56px;
}

input[type="number"] {
    font-size: 56px;
    padding-bottom: 0;
}

input[type="number"]::-webkit-input-placeholder {
    font-size: 56px;
    color: rgba(255, 255, 255, 0.3);
}

input[type="number"]::placeholder {
    font-size: 56px;
    color: rgba(255, 255, 255, 0.3);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="password"] {
    font-size: 18px;
    line-height: 32px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    width: 100%;
    max-width: 368px;
    margin: 16px 0;
}


/* Range Slider */

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    max-width: 320px;
    height: 56px;
    padding: 0;
    background: none;
    overflow: hidden;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    animate: 0.2s;
    background: white;
    border: none;
}

input[type=range]::-moz-range-thumb {
    box-shadow: rgba(0, 0, 0, 0.5) 0 2px 4px;
    border: none;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -11px;
    box-sizing: border-box;
}


input[type=range]::-webkit-slider-thumb {
    box-shadow: rgba(0, 0, 0, 0.5) 0 2px 4px;
    border: none;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -11px;
    box-sizing: border-box;
}

input[type=range]::-ms-thumb {
    box-shadow: rgba(0, 0, 0, 0.5) 0 2px 4px;
    border: none;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
    margin-top: -11px;
    box-sizing: border-box;
}

input[type=range]::-moz-range-progress {
    background: white;
}

input[type=range]:focus {
    outline: none;
    /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}