/* buttons */

button,
[button] {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.12em;
    height: 56px;
    width: 100%;
    max-width: 368px;
    border-radius: 28px;
    padding: 0 24px;
    vertical-align: middle;
    display: table-cell;
    text-align: center;
    background: white;
    color: var(--primary-color);
    cursor: pointer;
    user-select: none;
    box-shadow: rgba(0, 0, 0, 0.5) 1px 2px 3px;
    outline: none;
    border: none;
    line-height: 53px;
    border: 1px solid white;
    margin-bottom: 4px;
    min-height: 56px;
}

button[disabled],
[button][disabled] {
    background: transparent;
    box-shadow: none;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.31);
    pointer-events: none;
}

button.small,
[button].small {
    font-size: 13px;
    width: auto;
    padding: 0 24px;
    height: 40px;
    line-height: 38px;
    min-height: 40px;
}

button.small.fixed-size,
[button].small.fixed-size {
    width: 100%;
}

button.secondary,
[button].secondary {
    background: transparent;
    color: white;
}

.nimiq-dark button,
.nimiq-dark [button] {
    background: var(--main-button-background);
    border: 1px solid transparent;
    color: white;
    letter-spacing: 0.16em;
    font-weight: bold;
}

.nimiq-dark button.secondary,
.nimiq-dark [button].secondary {
    background: transparent;
    color: #3b3b3b;
    border: 1px solid #3b3b3b;
}

.nimiq-dark button[disabled],
.nimiq-dark [button][disabled] {
    background: transparent;
    color: rgba(0, 0, 0, 0.48);
    border: 1px solid rgba(0, 0, 0, 0.15);
}

/* Text Inputs */

input[type="text"],
input.password,
input[type="number"] {
    border: none;
    outline: none;
    background: transparent;
    color: white;
    width: 168px;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 0;
    font-size: 15px;
    font-family: inherit;
    font-style: inherit;
    font-variant: inherit;
    padding: 1px;
}

.nimiq-dark input[type="text"],
.nimiq-dark input.password,
.nimiq-dark input[type="number"] {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    color: #3b3b3b;
}

input[type="text"]::placeholder,
input.password::placeholder,
input[type="number"]::placeholder,
input[type="number"]::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.3);
    text-align: center;
    display: block;
}

.nimiq-dark input[type="text"]::placeholder,
.nimiq-dark input.password::placeholder,
.nimiq-dark input[type="number"]::placeholder,
.nimiq-dark input[type="number"]::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.3);
}

input[type="text"]:focus,
input.password:focus {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.nimiq-dark input[type="text"]:focus,
.nimiq-dark input.password:focus {
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

input[type="text"].small {
    font-size: 15px;
}

input[type="text"].small:placeholder-shown {
    font-size: 56px;
}

input[type="number"] {
    font-size: 56px;
    padding-bottom: 0;
}

input[type="number"]::-webkit-input-placeholder,
input[type="number"]::placeholder {
    font-size: 56px;
    color: rgba(255, 255, 255, 0.3);
}

.nimiq-dark input[type="number"]::-webkit-input-placeholder,
.nimiq-dark input[type="number"]::placeholder {
    color: rgba(0, 0, 0, 0.3);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input.password {
    font-size: 18px;
    line-height: 32px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    width: 100%;
    max-width: 368px;
    margin: 16px 0;
}

.nimiq-dark input.password {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

/* Range Slider */

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    max-width: 320px;
    height: 56px;
    padding: 0;
    background: none;
    overflow: hidden;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    animate: 0.2s;
    background: white;
    border: none;
}

.nimiq-dark input[type=range]::-webkit-slider-runnable-track {
    background: #3b3b3b;
}

input[type=range]::-moz-range-thumb,
input[type=range]::-webkit-slider-thumb,
input[type=range]::-ms-thumb {
    box-shadow: rgba(0, 0, 0, 0.5) 0 2px 4px;
    border: none;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -11px;
}

input[type=range]::-moz-range-progress {
    background: white;
}

.nimiq-dark input[type=range]::-moz-range-thumb,
.nimiq-dark input[type=range]::-webkit-slider-thumb,
.nimiq-dark input[type=range]::-ms-thumb,
.nimiq-dark input[type=range]::-moz-range-progress {
    background: #3b3b3b;
}

input[type=range]:focus {
    outline: none;
    /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

select {
    height: 35px;
}
