html,
body {
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
}

*, *:before, *:after {
    box-sizing: inherit;
}


/* Utility */

.flex-grow {
    flex-grow: 1;
}

.flex-grow-half {
    flex-grow: 0.5;
}

.flex-grow-double {
    flex-grow: 2;
}

.hidden {
    visibility: hidden;
}

.display-none {
    display: none !important;
}


/* Components */

.nq-card {
    width: calc(100% - 4rem);
    max-width: 75rem;
    background: #fafafa;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 3.5rem rgba(0, 0, 0, 0.111158);
    margin: 5rem auto;
}

.nq-card-header {
    padding: 4.5rem;
    background: white;
    border-bottom: 1px solid rgba(31, 35, 72, 0.07);
    text-align: center;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.nq-card-header .nq-h1 {
    margin: 0;
    line-height: 1;
}

.nq-card-body {
    padding: 4rem;
}

.nq-card-body *:first-child {
    margin-top: 0;
}

.nq-card-body *:last-child {
    margin-bottom: 0;
}


/* Spacing */

.margin-top-5 {
    margin-top: 5rem;
}

.margin-top-4 {
    margin-top: 4rem;
}

.margin-top-3 {
    margin-top: 3rem;
}

.margin-top-2 {
    margin-top: 2rem;
}

.margin-top-1 {
    margin-top: 1rem;
}
