html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

body {
    font-size: 15px;
}

h1,
.h1 {
    font-size: 28px;
    font-weight: 300;
    max-width: 100%;
    text-align: center;
    padding: 0;
}

h1+h2, h2[secondary] {
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    padding: 4px 0 24px;
    max-width: 600px;
}

h2,
.h2 {
    font-size: 24px;
    font-weight: 300;
}

h1,
h2,
p {
    margin: 0;
}


p {
    text-align: center;
    line-height: 19px;
}

a {
    text-decoration: none;
    color: white;
}

p a {
    text-decoration: underline;
}


[secondary] {
    font-size: 15px;
    font-weight: 800;
    cursor:  pointer;
    display: block;
}

[secondary]+button,
[secondary]+[button] {
    margin-top: 40px;
}

[secondary]+[secondary],
button+[secondary],
[button]+[secondary] {
    margin-top: 24px;
    margin-bottom:  8px;
}



li {
    line-height: 24px;
    text-align: left;
}

@media (max-width: 320px) {
    h1 {
        font-size: 24px;
    }

    h2 {}

    h1+h2 {
        font-size: 13px;
        padding-bottom: 8px;
    }
}
