.nq-button::-moz-focus-inner,
.nq-button-s::-moz-focus-inner {
    border: 0;
}

.nq-button {
    height: 8rem;
    line-height: 2.5rem;
    background: var(--nimiq-blue);
    background-image: var(--nimiq-blue-bg);
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.094em;
    border: none;
    padding: 0 4rem;
    border-radius: 4rem;
    min-width: 25rem;
    margin: 2rem auto;
    box-shadow: 0 0.5rem 1.75rem rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: transform 450ms ease, box-shadow 450ms ease, opacity 300ms ease;
    will-change: box-shadow;
    text-decoration: none;
    display: block;
    text-align: center;
    font-family: inherit;
    overflow: hidden;
    transform: perspective(1px);
}

.nq-button:hover,
.nq-button:active {
    transform: scale(1.02) perspective(1px);
    box-shadow: 0 0.5rem 3rem rgba(0,0,0,0.15);
}

.nq-button:focus {
    outline: none;
    transform: scale(1.02) translate3D(0,1px,0) perspective(1px);
    box-shadow: 0 0 0 rgba(0,0,0,0.15);
    transition: transform .2s ease, box-shadow .2s ease;
}


.nq-button-s {
    display: inline-block;
    font-size: 1.75rem;
    line-height: 2rem;
    height: 3.375rem;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 0.014em;
    padding: 0 1.5rem;
    background-color: rgba(31, 35, 72, 0.07); /* Based on Nimiq Blue */
    color: var(--nimiq-blue);
    border-radius: 1.6875rem;
    transition: color 300ms ease, background-color 300ms ease;
    will-change: color, background-color;
    border: none;
    cursor: pointer;
    position: relative;
    font-family: inherit;
}

.nq-button-s[disabled] {
    opacity: 0.4;
    cursor: not-allowed;
}

.nq-button-s::after {
    content: '';
    display: block;
    position: absolute;
    left: -1.5rem;
    top: -1.5rem;
    right: -1.5rem;
    bottom: -1.5rem;
}

.nq-button-s:hover {
    background-color: rgba(31, 35, 72, 0.12); /* Based on Nimiq Blue */
}

.nq-button-s[disabled]:hover {
    background-color: rgba(31, 35, 72, 0.07); /* Based on Nimiq Blue */
}

.nq-button-s:focus {
    outline: none;
    color: var(--nimiq-light-blue);
    background-color: rgba(5, 130, 202, 0.16); /* Based on Nimiq Light Blue */
}


/* Color variations */

/* light blue */
.nq-button.light-blue {
    background: var(--nimiq-light-blue);
    background-image: var(--nimiq-light-blue-bg);
}

.nq-button.light-blue.inverse {
    color: var(--nimiq-light-blue);
}

.nq-button-s.light-blue {
    color: var(--nimiq-light-blue);
    background-color: rgba(5, 130, 202, 0.1); /* Based on Nimiq Light Blue */
}

.nq-button-s.light-blue:hover,
.nq-button-s.light-blue:active,
.nq-button-s.light-blue:focus {
    background-color: rgba(5, 130, 202, 0.16); /* Based on Nimiq Light Blue */
}

.nq-button-s.light-blue[disabled]:hover {
    background-color: rgba(5, 130, 202, 0.1); /* Based on Nimiq Light Blue */
}

/* green */
.nq-button.green {
    background: var(--nimiq-green);
    background-image: var(--nimiq-green-bg);
}

.nq-button.green.inverse {
    color: var(--nimiq-green);
}

.nq-button-s.green {
    color: var(--nimiq-green);
    background-color: rgba(33, 188, 165, 0.1); /* Based on Nimiq Green */
}

.nq-button-s.green:hover,
.nq-button-s.green:active,
.nq-button-s.green:focus {
    background-color: rgba(33, 188, 165, 0.16); /* Based on Nimiq Green */
}

.nq-button-s.green[disabled]:hover {
    background-color: rgba(33, 188, 165, 0.1); /* Based on Nimiq Green */
}

/* orange */
.nq-button.orange {
    background: var(--nimiq-orange);
    background-image: var(--nimiq-orange-bg);
}

.nq-button.orange.inverse {
    color: var(--nimiq-orange);
}

.nq-button-s.orange {
    color: var(--nimiq-orange);
    background-color: rgba(252, 135, 2, 0.1); /* Based on Nimiq Orange */
}

.nq-button-s.orange:hover,
.nq-button-s.orange:active,
.nq-button-s.orange:focus {
    background-color: rgba(252, 135, 2, 0.16); /* Based on Nimiq Orange */
}

.nq-button-s.orange[disabled]:hover {
    background-color: rgba(252, 135, 2, 0.1); /* Based on Nimiq Orange */
}

/* red */
.nq-button.red {
    background: var(--nimiq-red);
    background-image: var(--nimiq-red-bg);
}

.nq-button.red.inverse {
    color: var(--nimiq-red);
}

.nq-button-s.red {
    color: var(--nimiq-red);
    background-color: rgba(216, 65, 51, 0.1); /* Based on Nimiq Red */
}

.nq-button-s.red:hover,
.nq-button-s.red:active,
.nq-button-s.red:focus {
    background-color: rgba(216, 65, 51, 0.16); /* Based on Nimiq Red */
}

.nq-button-s.red[disabled]:hover {
    background-color: rgba(216, 65, 51, 0.1); /* Based on Nimiq Red */
}

/* Special styles */

.nq-button.inverse {
    background: white;
    color: var(--nimiq-blue);
}

.nq-button[disabled] {
    background: rgba(31, 35, 72, 0.07);
    color: rgba(31, 35, 72, 0.3);
    box-shadow: none !important;
    transform: none;
    cursor: not-allowed;
}

.nq-button[disabled]:hover,
.nq-button[disabled]:active {
    transform: none;
}

.nq-button.inverse[disabled] {
    background: rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 0.5);
}
