.nq-button::-moz-focus-inner,
.nq-button-s::-moz-focus-inner {
    border: 0;
}

.nq-button {
    height: 8rem;
    line-height: 2.5rem;
    background: var(--nimiq-blue);
    background-image: var(--nimiq-blue-bg);
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.094em;
    border: none;
    padding: 0 4rem;
    border-radius: 4rem;
    min-width: 25rem;
    margin: 2rem auto;
    box-shadow: 0 0.5rem 1.75rem rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: transform 150ms, box-shadow 150ms, opacity 300ms;
    will-change: transform, box-shadow, opacity;
    text-decoration: none;
    display: block;
    text-align: center;
    font-family: inherit;
}

.nq-button.inverse {
    background: white !important;
    color: var(--nimiq-blue);
}

.nq-button[disabled] {
    opacity: 0.4;
    box-shadow: none;
    cursor: not-allowed;
}

.nq-button:hover,
.nq-button:active {
    transform: translateY(0.25rem);
    box-shadow: none;
}

.nq-button[disabled]:hover,
.nq-button[disabled]:active {
    transform: none;
}

.nq-button-s {
    display: inline-block;
    font-size: 1.75rem;
    line-height: 2rem;
    height: 3.375rem;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 0.014em;
    padding: 0 1.5rem;
    background-color: rgba(31, 35, 72, 0.07); /* Based on Nimiq Blue */
    color: var(--nimiq-blue);
    border-radius: 1.6875rem;
    transition: background-color 150ms;
    will-change: background-color;
    border: none;
    cursor: pointer;
    position: relative;
    font-family: inherit;
}

.nq-button-s[disabled] {
    opacity: 0.4;
    cursor: not-allowed;
}

.nq-button-s::after {
    content: '';
    display: block;
    position: absolute;
    left: -2rem;
    top: -2rem;
    right: -2rem;
    bottom: -2rem;
}

.nq-button-s:hover,
.nq-button-s:active {
    background-color: rgba(31, 35, 72, 0.12); /* Based on Nimiq Blue */
}

.nq-button-s[disabled]:hover {
    background-color: rgba(31, 35, 72, 0.07); /* Based on Nimiq Blue */
}

/* Color variations */

/* light blue */
.nq-button.light-blue {
    background: var(--nimiq-light-blue);
    background-image: var(--nimiq-light-blue-bg);
}

.nq-button.light-blue.inverse {
    color: var(--nimiq-light-blue);
}

.nq-button-s.light-blue {
    color: var(--nimiq-light-blue);
    background-color: rgba(5, 130, 202, 0.07); /* Based on Nimiq Light Blue */
}

.nq-button-s.light-blue:hover,
.nq-button-s.light-blue:active {
    background-color: rgba(5, 130, 202, 0.12); /* Based on Nimiq Light Blue */
}

.nq-button-s.light-blue[disabled]:hover {
    background-color: rgba(5, 130, 202, 0.07); /* Based on Nimiq Light Blue */
}

/* green */
.nq-button.green {
    background: var(--nimiq-green);
    background-image: var(--nimiq-green-bg);
}

.nq-button.green.inverse {
    color: var(--nimiq-green);
}

.nq-button-s.green {
    color: var(--nimiq-green);
    background-color: rgba(33, 188, 165, 0.07); /* Based on Nimiq Green */
}

.nq-button-s.green:hover,
.nq-button-s.green:active {
    background-color: rgba(33, 188, 165, 0.12); /* Based on Nimiq Green */
}

.nq-button-s.green[disabled]:hover {
    background-color: rgba(33, 188, 165, 0.07); /* Based on Nimiq Green */
}

/* orange */
.nq-button.orange {
    background: var(--nimiq-orange);
    background-image: var(--nimiq-orange-bg);
}

.nq-button.orange.inverse {
    color: var(--nimiq-orange);
}

.nq-button-s.orange {
    color: var(--nimiq-orange);
    background-color: rgba(252, 135, 2, 0.07); /* Based on Nimiq Orange */
}

.nq-button-s.orange:hover,
.nq-button-s.orange:active {
    background-color: rgba(252, 135, 2, 0.12); /* Based on Nimiq Orange */
}

.nq-button-s.orange[disabled]:hover {
    background-color: rgba(252, 135, 2, 0.07); /* Based on Nimiq Orange */
}

/* red */
.nq-button.red {
    background: var(--nimiq-red);
    background-image: var(--nimiq-red-bg);
}

.nq-button.red.inverse {
    color: var(--nimiq-red);
}

.nq-button-s.red {
    color: var(--nimiq-red);
    background-color: rgba(216, 65, 51, 0.07); /* Based on Nimiq Red */
}

.nq-button-s.red:hover,
.nq-button-s.red:active {
    background-color: rgba(216, 65, 51, 0.12); /* Based on Nimiq Red */
}

.nq-button-s.red[disabled]:hover {
    background-color: rgba(216, 65, 51, 0.07); /* Based on Nimiq Red */
}
