/* typography */

.nq-blue-bg,
.nq-light-blue-bg,
.nq-gold-bg,
.nq-green-bg,
.nq-orange-bg,
.nq-red-bg,

.nq-blue-bg .nq-link,
.nq-light-blue-bg .nq-link,
.nq-gold-bg .nq-link,
.nq-green-bg .nq-link,
.nq-orange-bg .nq-link,
.nq-red-bg .nq-link {
    color: var(--nimiq-white);
}

.nq-blue-bg .nq-text,
.nq-light-blue-bg .nq-text,
.nq-gold-bg .nq-text,
.nq-green-bg .nq-text,
.nq-orange-bg .nq-text,
.nq-red-bg .nq-text,

.nq-blue-bg .nq-label,
.nq-light-blue-bg .nq-label,
.nq-gold-bg .nq-label,
.nq-green-bg .nq-label,
.nq-orange-bg .nq-label,
.nq-red-bg .nq-label {
    color: rgba(255, 255, 255, 0.7);
}

/* theme */

.nq-blue-bg {
    --nimiq-light-blue: var(--nimiq-light-blue-on-dark);
}

.nq-blue-bg {
    --nimiq-red:        var(--nimiq-red-on-dark);
}

/* inputs */

.nq-blue-bg .nq-input,
.nq-blue-bg .nq-input-s {
    --border-color: rgba(255, 255, 255, 0.2);
    color: var(--nimiq-white);
}

.nq-blue-bg .nq-input.vanishing,
.nq-blue-bg .nq-input-s.vanishing {
    --border-color: rgba(255, 255, 255, 0);
}

.nq-blue-bg .nq-input::placeholder,
.nq-blue-bg .nq-input-s::placeholder {
    color: rgba(255, 255, 255, 0.3);
}

.nq-blue-bg .nq-input:hover,
.nq-blue-bg .nq-input:focus,
.nq-blue-bg .nq-input-s:hover,
.nq-blue-bg .nq-input-s:focus {
    --border-color: rgba(255, 255, 255, 0.3);
    color: var(--nimiq-white);
}
