/*!
Nimiq Style CSS Framework v0.7.5
URL: https://github.com/nimiq/nimiq-style
Styleguide: https://nimiq.com/styleguide
*/

@import 'typography.css';
@import 'buttons.css';
@import 'inputs.css';
@import 'layout.css';
@import 'theme.css';
@import 'dark-adaptions.css';
@import 'icons.css';

html {
    /* Transitions */
    --nimiq-ease: cubic-bezier(0.25, 0, 0, 1);
}

/* @import 'animations/animations.css'; */
