html {
    /* Nimiq color palette */
    --nimiq-blue:       #1F2348; /* rgb(31, 35, 72) */
    --nimiq-light-blue: #0582CA; /* rgb(5, 130, 202) */
    --nimiq-gold:       #E9B213; /* rgb(233, 178, 19) */
    --nimiq-green:      #21BCA5; /* rgb(33, 188, 165) */
    --nimiq-orange:     #FC8702; /* rgb(252, 135, 2) */
    --nimiq-red:        #D94432; /* rgb(216, 65, 51) */
    --nimiq-gray:       #F4F4F5;
    --nimiq-light-gray: #FAFAFA;

    /* Background gradients */
    --nimiq-blue-bg:       radial-gradient(circle at bottom right, #260133, var(--nimiq-blue));
    --nimiq-light-blue-bg: radial-gradient(circle at bottom right, #265DD7, var(--nimiq-light-blue));
    --nimiq-gold-bg:       radial-gradient(circle at bottom right, #EC991C, var(--nimiq-gold));
    --nimiq-green-bg:      radial-gradient(circle at bottom right, #41A38E, var(--nimiq-green));
    --nimiq-orange-bg:     radial-gradient(circle at bottom right, #FD6216, var(--nimiq-orange));
    --nimiq-red-bg:        radial-gradient(circle at bottom right, #CC3047, var(--nimiq-red));
    --nimiq-gray-bg:       radial-gradient(circle at bottom right, #F4F4F4, var(--nimiq-gray));


    /* Special colors */
    --nimiq-border-color: rgba(31, 35, 72, 0.1); /* Based on Nimiq Blue */
    --nimiq-card-bg: var(--nimiq-light-gray);
    --nimiq-card-header-bg: white;
    --nimiq-card-footer-bg: white;
    --nimiq-card-border-color: rgba(31, 35, 72, 0.07); /* Based on Nimiq Blue */
}

body {
    color: var(--nimiq-blue);
    background: var(--nimiq-gray);
    background-image: var(--nimiq-gray-bg);
    margin: 0;
}

.nq-blue {
    color: var(--nimiq-blue);
}

.nq-light-blue {
    color: var(--nimiq-light-blue);
}

.nq-gold {
    color: var(--nimiq-gold);
}

.nq-green {
    color: var(--nimiq-green);
}

.nq-orange {
    color: var(--nimiq-orange);
}

.nq-red {
    color: var(--nimiq-red);
}

.nq-bg-blue {
    background: var(--nimiq-blue);
    background-image: var(--nimiq-blue-bg);
    color: white;
}

.nq-bg-light-blue {
    background: var(--nimiq-light-blue);
    background-image: var(--nimiq-light-blue-bg);
    color: white;
}

.nq-bg-gold {
    background: var(--nimiq-gold);
    background-image: var(--nimiq-gold-bg);
    color: white;
}

.nq-bg-green {
    background: var(--nimiq-green);
    background-image: var(--nimiq-green-bg);
    color: white;
}

.nq-bg-orange {
    background: var(--nimiq-orange);
    background-image: var(--nimiq-orange-bg);
    color: white;
}

.nq-bg-red {
    background: var(--nimiq-red);
    background-image: var(--nimiq-red-bg);
    color: white;
}

.nq-bg-gray {
    background: var(--nimiq-gray);
    background-image: var(--nimiq-gray-bg);
}
