html {
    /* Nimiq color palette */
    --nimiq-indigo:     #1F2348; /* rgb(31, 35, 72) */
    --nimiq-blue:       #0582CA; /* rgb(5, 130, 202) */
    --nimiq-yellow:     #E9B213; /* rgb(233, 178, 19) */
    --nimiq-teal:       #21BCA5; /* rgb(33, 188, 165) */
    --nimiq-orange:     #FC8702; /* rgb(252, 135, 2) */
    --nimiq-red:        #D94432; /* rgb(216, 65, 51) */
    --nimiq-purple:     #5F4B8B; /* rgb(95, 75, 139) */
    --nimiq-pink:       #FA7268; /* rgb(250, 114, 104) */
    --nimiq-green:      #88B04B; /* rgb(136, 176, 75) */
    --nimiq-brown:      #795548; /* rgb(121, 85, 72) */
    --nimiq-gray:       #F4F4F4;
    --nimiq-light-gray: #FAFAFA;

    /* Background gradients */
    --nimiq-indigo-bg: radial-gradient(circle at bottom right, #260133, var(--nimiq-indigo));
    --nimiq-blue-bg:   radial-gradient(circle at bottom right, #265DD7, var(--nimiq-blue));
    --nimiq-yellow-bg: radial-gradient(circle at bottom right, #EC991C, var(--nimiq-yellow));
    --nimiq-teal-bg:   radial-gradient(circle at bottom right, #41A38E, var(--nimiq-teal));
    --nimiq-orange-bg: radial-gradient(circle at bottom right, #FD6216, var(--nimiq-orange));
    --nimiq-red-bg:    radial-gradient(circle at bottom right, #CC3047, var(--nimiq-red));
    --nimiq-purple-bg: radial-gradient(circle at bottom right, #4D4C96, var(--nimiq-purple));
    --nimiq-pink-bg:   radial-gradient(circle at bottom right, #E0516B, var(--nimiq-pink));
    --nimiq-green-bg:  radial-gradient(circle at bottom right, #70B069, var(--nimiq-green));
    --nimiq-brown-bg:  radial-gradient(circle at bottom right, #724147, var(--nimiq-brown));


    /* Special colors */
    --nimiq-highlight-bg: rgba(31, 35, 72, 0.06); /* Based on Nimiq Blue */
    --nimiq-card-bg: white;
}

body {
    color: var(--nimiq-indigo);
    background: var(--nimiq-gray);
    margin: 0;
}

.nq-indigo {
    color: var(--nimiq-indigo) !important;
}

.nq-blue {
    color: var(--nimiq-blue) !important;
}

.nq-yellow {
    color: var(--nimiq-yellow) !important;
}

.nq-teal {
    color: var(--nimiq-teal) !important;
}

.nq-orange {
    color: var(--nimiq-orange) !important;
}

.nq-red {
    color: var(--nimiq-red) !important;
}

.nq-purple {
    color: var(--nimiq-purple) !important;
}

.nq-pink {
    color: var(--nimiq-pink) !important;
}

.nq-green {
    color: var(--nimiq-green) !important;
}

.nq-brown {
    color: var(--nimiq-brown) !important;
}

.nq-indigo-bg {
    background: var(--nimiq-indigo);
    background-image: var(--nimiq-indigo-bg);
}

.nq-blue-bg {
    background: var(--nimiq-blue);
    background-image: var(--nimiq-blue-bg);
}

.nq-yellow-bg {
    background: var(--nimiq-yellow);
    background-image: var(--nimiq-yellow-bg);
}

.nq-teal-bg {
    background: var(--nimiq-teal);
    background-image: var(--nimiq-teal-bg);
}

.nq-orange-bg {
    background: var(--nimiq-orange);
    background-image: var(--nimiq-orange-bg);
}

.nq-red-bg {
    background: var(--nimiq-red);
    background-image: var(--nimiq-red-bg);
}

.nq-purple-bg {
    background: var(--nimiq-purple);
    background-image: var(--nimiq-purple-bg);
}

.nq-pink-bg {
    background: var(--nimiq-pink);
    background-image: var(--nimiq-pink-bg);
}

.nq-green-bg {
    background: var(--nimiq-green);
    background-image: var(--nimiq-green-bg);
}

.nq-brown-bg {
    background: var(--nimiq-brown);
    background-image: var(--nimiq-brown-bg);
}

.nq-gray-bg {
    background: var(--nimiq-gray);
}
