html {
    font-size: 8px;
    --nimiq-size: 8px;

    font-family: 'Muli', system-ui, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

body {
    font-size: 2.25rem; /* 18px */
}

.nq-h1 {
    font-size: 3rem;
    line-height: 3.5rem;
    font-weight: bold;
    margin: 2rem 0;
}

.nq-h2 {
    font-size: 2.5rem;
    line-height: 3rem;
    font-weight: bold;
    margin: 1.5rem 0;
}

.nq-text {
    font-size: 2rem;
    line-height: 1.375;
    opacity: 0.7;
    margin: 1.5rem 0;
}

.nq-text-s {
    font-size: 1.75rem;
    line-height: 1.1;
    font-weight: 600;
}

.nq-label {
    font-size: 1.75rem;
    line-height: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.107em;
    opacity: 0.7;
}

.nq-link {
    color: var(--nimiq-light-blue);
    text-decoration: none;
}

.nq-link:active,
.nq-link:hover {
    text-decoration: underline;
}
